<!-- Generated template for the ProgressBarComponent component -->
<p><br></p>
<div class="custom-tab">




  <a class="" (click)="goto('DashboardPage')" aria-selected="true">
      <ion-icon class="icon icon-md ion-md-help"></ion-icon>
      <span class="">Dashboard</span>
  </a>


  
  <a class="" (click)="goto('UnitsPage')"  aria-selected="unitshighlight">
      <ion-icon class="icon icon-md ion-md-help"></ion-icon>
      <span class="">Units</span>
  </a>
  
  <a class="" (click)="goto('CalendarPage')"  aria-selected="calendarhighlight">
      <ion-icon class="icon icon-md ion-md-help"></ion-icon>
      <span class="">Calendar</span>
  </a>
  
  <a class=""  (click)="goto('MessagePage')"  aria-selected="messagehighlight">
      <ion-icon class="icon icon-md ion-md-help"></ion-icon>
      <span class="">Message</span>
  </a>
  
  <a class="" (click)="goto('OrgchartPage')"  aria-selected="orgcharthighlight">
      <ion-icon class="icon icon-md ion-md-help"></ion-icon>
      <span class="">Org Chart</span>
  </a>
  </div>
<!-- <div class="progress-outer">
  <div class="progress-inner" [style.width]="progress + '%'">
     kannan
  </div>
</div> -->

