page-changepassword {


.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
		border-bottom-color: #b8b8b8;
		  -webkit-box-shadow: inset 0 -1px 0 0 #b8b8b8;
		  box-shadow: inset 0 -1px 0 0 #b8b8b8;
	  
	  }
	  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
		border-bottom-color: #b8b8b8;
		-webkit-box-shadow: inset 0 -1px 0 0 #b8b8b8;
		box-shadow: inset 0 -1px 0 0 #b8b8b8;
	  }



	  .ng-invalid-red.ng-dirty{
		border-bottom-color: red;
		-webkit-box-shadow: inset 0 -1px 0 0 red;
		box-shadow: inset 0 -1px 0 0 red; 
	  }

	  .ng-invalid-gray.ng-dirty{
		border-bottom-color: #b8b8b8;
		-webkit-box-shadow: inset 0 -1px 0 0 #b8b8b8;
		box-shadow: inset 0 -1px 0 0 #b8b8b8;
	  }
	ion-content .scroll-content {
		margin-bottom: 0;
	}
	.atwho-inserted {
      background: #ccc;
      padding: 4px 6px;
	  position: relative;
    }
    .atwho-query {
      color: #4183C4;
    }
	.atwho-inserted i {
		position: absolute;
		right: 0;
		top: 0;
		background: #f00;
		width: 5px;
		height: 5px;
		z-index:1000;
	}
	.change-password {
		background:#f8f8f8;
		margin:0;
	}
	.change-password .items-md {
		background:transparent;
	}
	.change-password ion-item {
		padding-right:16px;
		background: transparent;
		margin-top: 4px;
	}
	.item-label-stacked .text-input-md {
		margin-top: 0;
    	margin-bottom: 0px;
	}
	.label-md {
		margin-right:0;
	}
	
	.atwho-inserted {
      background: #ccc;
      padding: 4px 6px;
	  position: relative;
    }
    .atwho-query {
      color: #4183C4;
    }
	.atwho-inserted i {
		position: absolute;
		right: 0;
		top: 0;
		background: #f00;
		width: 5px;
		height: 5px;
		z-index:1000;
	}
	
	.list-md .item-input:last-child .item-inner {
		border-bottom: 1px solid #dedede;
	}
}
