page-changepassword {
	.change-password {
		background:#f8f8f8;
		margin:0;
	}
	.change-password .items-md {
		background:transparent;
	}
	.change-password ion-item {
		padding-right:16px;
		background: transparent;
		margin-top: 4px;
	}
	.item-label-stacked .text-input-md {
		margin-top: 0;
    	margin-bottom: 0px;
	}
	.label-md {
		margin-right:0;
	}
}
