<ion-header (tap)="isNet()" *ngIf="selecteditems.length==0">

  <ion-navbar hideBackButton>
    <button ion-button clear class="left-header-btn" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <div class="right-header-btns">
      <button class="search">
        <ion-icon name="search"></ion-icon>
      </button>
      <button class="notification-bell" (click)="notification()">
        <ion-icon name="notifications"></ion-icon>
        <span class="counter" *ngIf="notcount>0">{{notcount}}</span>
      </button>
      <button class="profile">
        <img src="{{profilePhoto}}" width="28" height="28">
      </button>
    </div>
  </ion-navbar>

</ion-header>





<ion-header (tap)="isNet()" style="background-color:#515151 !important;color:white" *ngIf="selecteditems.length>0">
  <ion-toolbar style="background-color:#515151 !important;color:white">
    <ion-buttons left style="background-color:#515151 !important;color:white">



      <button ion-button icon-only (click)="resettoback(unitAllLists)" style="background-color:#515151 !important;color:white">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>




    </ion-buttons>

    <ion-title style="background-color:#515151 !important;color:white">{{selecteditems.length}} Selected

      <!-- <button ion-button icon-only style="background-color:#515151 !important;color:white" (click)="selectalltip(selectallopenorclose)"> -->
      <!-- </button> -->


    </ion-title>
    <ion-icon name="md-arrow-dropdown" style="background-color:#515151 !important;color:white;margin-top: 5px;
    margin-left: 2px;
    font-size: 35px;" (click)="selectalltip(selectallopenorclose)"></ion-icon>

    <ion-buttons end>
      <button ion-button icon-only style="background-color:#515151 !important;color:white" (click)="moretip(moreopenorclose)">
        <ion-icon name="more" style="background-color:#515151 !important;color:white"></ion-icon>
      </button>



    </ion-buttons>

  </ion-toolbar>
  <div class="list-icon">
    <div class="select-all" *ngIf="selectallopenpop>0">
      <button (click)="selectAll()">Select All</button>

    </div>
  </div>

  <div class="list-icon">
    <div class="more" *ngIf="moreopenpop>0">
      <button (click)="onholdaction('favorite')" style="text-align:left">Favorite</button>
      <button (click)="onholdaction('view')" style="text-align:left">View</button>
      <button (click)="onholdaction('remove')" style="text-align:left">Remove</button>
    </div>
  </div>
</ion-header>


<ion-content (tap)="isNet()">


  <div *ngIf="segmenttabshow>0">
    <ion-segment [(ngModel)]="tabs" (ionChange)="segmentChanged($event)">
      <ion-segment-button id="maptab" value="mapView" (click)="loadMap(unitsPopups)">
        Map View
      </ion-segment-button>
      <ion-segment-button id="unittab" value="listView" (click)="doUnit()">
        List View
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="error" *ngIf="rolePermissionMsg != ''">{{rolePermissionMsg}}</div>
  <div>


    <div id="mapView">

      <div class="popup" *ngFor="let unit of unitsPopups" id="{{unit.unit_id}}" (click)="doAction(unit,'detail',unit.unit_id)">
        <span class="status" ngClass="{{unit.genstatus}}"></span> {{unit.controllerid}} {{unit.unitname}}
        <div class="list-desc">{{unit.projectname}}</div>
        <div class="list-favorite">
          <button>
            <ion-icon name="star-outline" *ngIf="unit.favorite === 0 || unit.favorite === 'unfavorite'"></ion-icon>
            <ion-icon name="star" class="favorite" *ngIf="unit.favorite === 1 || unit.favorite === 'favorite'"></ion-icon>
          </button>
        </div>

        <div class="running-hrs">Running Hours: {{unit.runninghr}}</div>
      </div>

      <div class="gen-overview">
        <div class="overview">
          <div class="overview-1">
            <span>{{alarms}}</span> ALARMS
          </div>
        </div>
        <div class="overview">
          <div class="overview-2">
            <span>{{warningcount}}</span> WARNINGS
          </div>
        </div>
        <div class="overview">
          <div class="overview-3">
            <span>{{runningcount}}</span> RUNNING
          </div>
        </div>
        <div class="overview">
          <div class="overview-3">
            <span>{{readycount}}</span> ONLINE
          </div>
        </div>
      </div>

      <div class="custom-tooltip" *ngIf="totalCount>0">
        Total Count: {{totalCount}}
      </div>
      <div #map id="map"></div>
    </div>

    <div id="listView" style="display: none;">
<!-- 
      For Push Testing 
     <button ion-button class="edit-btn" (click)="pushTesting('C','20')">
          <img width="25" src="assets/imgs/edit@2x.png">Push Testing
      </button> -->

      <div class="error" *ngIf="totalCountList==0">No unit entries found</div>



      <div *ngIf="totalCountList>0" class="filter" (click)="doSort()"> {{sortLblTxt}}
        <ion-icon name="arrow-down" *ngIf="sortLblTxt === Favourites"></ion-icon>
        <ion-icon name="arrow-down" *ngIf="reportData.sortascdesc === 'desc' && sortLblTxt !==Favourites"></ion-icon>
        <ion-icon name="arrow-up" *ngIf="reportData.sortascdesc === 'asc'  && sortLblTxt !== Favourites"></ion-icon>
      </div>

      <ion-list>
        <ion-item-sliding #item class="list-item" *ngFor="let unit of items; let i = index">
          <!-- (click)="doAction(unit,'detail',unit.unit_id)"-->
          <ion-item ngClass="{{unit.active}}">
            <span ion-long-press [interval]="400" (onPressStart)="pressed(unit,i)" (onPressEnd)="released()" *ngIf="unit.active!=''"
              class="initial" [ngStyle]="{'background-color': '#' + unit.colorcode}">
              <img src="{{unit.logo}}" ion-long-press [interval]="400" (onPressStart)="pressed(unit,i)" (onPressEnd)="released()">
            </span>
            <span ion-long-press [interval]="400" (onPressStart)="pressed(unit,i)" (onPressEnd)="released()" *ngIf="unit.active==''"
              class="initial" [ngStyle]="{'background-color': '#' + unit.colorcode}">{{unit.companygroup_name}}</span>
            <span (click)="doAction(unit,'detail',unit.unit_id)" class="status" ngClass="{{unit.genstatus}}"></span>
            <span (click)="doAction(unit,'detail',unit.unit_id)"><b>{{unit.unitname}}</b></span>
            <div class="list-desc" (click)="doAction(unit,'detail',unit.unit_id)">{{unit.projectname}}</div>
            <div class="list-favorite">
              <button style="text-align:right;" (click)="presentModal(unit)">
                <img class="icon-size" src="assets/imgs/map.png" style="margin-top: 7px;">
              </button>
              <button (click)="favorite(unit.unit_id)">
                <ion-icon name="star-outline" *ngIf="unit.favoriteindication === 0 || unit.favoriteindication === 'unfavorite'"></ion-icon>
                <ion-icon name="star" class="favorite" *ngIf="unit.favoriteindication === 1 || unit.favoriteindication === 'favorite'"></ion-icon>
              </button>
            </div>
            <div class="running-hrs" (click)="doAction(unit,'detail',unit.unit_id)">Running Hours: {{unit.runninghr}}</div>
          </ion-item>
          <ion-item-options side="right" class="list-item-options">

            <button ion-button class="edit-btn" (click)="doAction(unit,'edit',unit.unit_id)" *ngIf="UNITEDITACCESS==1">
              <img width="25" src="assets/imgs/edit@2x.png">Edit
            </button>
          
            <button ion-button class="read-btn" (click)="hideondash(unit.viewonid)" *ngIf="UNITHIDEACCESS==1">
              <img width="25" src="assets/imgs/remove@2x.png">Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px" *ngIf="isInfiniteHide && totalCountList>pageperrecord">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer>
  <progress-bar [progress]="footerBar"></progress-bar>
</ion-footer>