page-message-detail-view {

	.border-low{
		border:0px solid #009ACD!important;
		color: #D8D8D8;
		 }  
		 .border-high{
		border:0px solid #009ACD!important;
		color: #c71717;
		 }

		 .subject h1 {
			margin-top: 15px;
			font-size: 17px;
			font-weight:bold;
		 }
}
